In [5]:
import pandas as pd

household = pd.read_csv(r'J:\Projects\Surveys\HHTravel\Survey2017\Data\Dataset_2 August 2017\Household\MattTestHousehold.csv')
person = pd.read_csv(r'J:\Projects\Surveys\HHTravel\Survey2017\Data\Dataset_2 August 2017\Person\MattTestPerson.csv')

In [17]:
final_household = pd.DataFrame()

#hhno
final_household['hhno'] = household['hhid']

#hhsize
final_household['hhsize'] = household['hhsize']

#hhvehs
final_household['hhvehs'] = household['vehicle_count']

#hhwkrs
final_household['hhwkrs'] = household['numworkers']

#hhftw, need to import person level data and groupby hhid for next few variables
def full (row):
   if row['employment'] == 1 :
      return 1
   return 0

person['full'] = person.apply (lambda row: full (row),axis=1)

person_grouped = person.groupby('hhid', as_index=False).sum()

final_household['hhftw'] = person_grouped['full']

#hhptw
def part (row):
   if row['employment'] == 2 :
      return 1
   return 0

person['part'] = person.apply (lambda row: part (row),axis=1)

person_grouped = person.groupby('hhid', as_index=False).sum()

final_household['hhptw'] = person_grouped['part']

#hhret
def retired (row):
   if row['employment'] == 6 :
      return 1
   return 0

person['retired'] = person.apply (lambda row: retired (row),axis=1)

person_grouped = person.groupby('hhid', as_index=False).sum()

final_household['hhret'] = person_grouped['retired']

#hhoad
def otheradult (row):
   if row['employment'] == 3 or row['employment'] == 4 or row['employment'] == 5  or row['employment'] == 7  :
      return 1
   return 0

person['otheradult'] = person.apply (lambda row: otheradult (row),axis=1)

person_grouped = person.groupby('hhid', as_index=False).sum()

final_household['hhoad'] = person_grouped['otheradult']

#hhuni
def college (row):
   if row['schooltype'] == 6  :
      return 1
   return 0

person['college'] = person.apply (lambda row: college (row),axis=1)

person_grouped = person.groupby('hhid', as_index=False).sum()

final_household['hhuni'] = person_grouped['college']

#hhhsc
#this variable does not match up perfectly with the survey data so it will be an estimation
#this group will include students that have a school type of K-12 who are ages 16-17 (definitely HS), 
#18-24 (will capture older HS students), and 12-15 whose school name includes 'High School'

person['hs'] = person['school_loc_name'].str.contains('High School', na = False)

def highschool (row):
   if (row['schooltype'] == 3 or row['schooltype'] == 4 or row['schooltype'] == 5) and row['age'] == 4 :
      return 1
   if (row['schooltype'] == 3 or row['schooltype'] == 4 or row['schooltype'] == 5) and row['age'] == 5 :
      return 1 
   if row['age'] == 3 and row['hs'] is True :
      return 1 
   return 0

person['highschool'] = person.apply (lambda row: highschool (row),axis=1)

person_grouped = person.groupby('hhid', as_index=False).sum()

final_household['hhhsc'] = person_grouped['highschool']

#hh515
def five_to_fifteen (row):
   if row['age'] == 2 or row['age'] == 3  :
      return 1
   return 0

person['five_to_fifteen'] = person.apply (lambda row: five_to_fifteen (row),axis=1)

person_grouped = person.groupby('hhid', as_index=False).sum()

final_household['hh515'] = person_grouped['five_to_fifteen']

#hhcu5
def under_five (row):
   if row['age'] == 1 :
      return 1
   return 0

person['under_five'] = person.apply (lambda row: under_five (row),axis=1)

person_grouped = person.groupby('hhid', as_index=False).sum()

final_household['hhcu5'] = person_grouped['under_five']

#hhincome
#Daysim guide seems to prefer the midpoint in the range, so that's what I went with
def income (row):
    if row['hhincome_detailed'] == 11 and row['hhincome_followup'] == 6 :
        return -1
    if row['hhincome_followup'] == 1 :
        return 12500
    if row['hhincome_followup'] == 2 :
        return 37500
    if row['hhincome_followup'] == 3 :
        return 62500
    if row['hhincome_followup'] == 4 :
        return 87500
    if row['hhincome_followup'] == 5 :
        return 150000
    if row['hhincome_detailed'] == 1 :
        return 5000
    if row['hhincome_detailed'] == 2 :
        return 17500
    if row['hhincome_detailed'] == 3 :
        return 30000
    if row['hhincome_detailed'] == 4 :
        return 42500
    if row['hhincome_detailed'] == 5 :
        return 62500
    if row['hhincome_detailed'] == 6 :
        return 87500
    if row['hhincome_detailed'] == 7 :
        return 125000
    if row['hhincome_detailed'] == 8 :
        return 175000
    if row['hhincome_detailed'] == 9 :
        return 225000
    if row['hhincome_detailed'] == 10 :
        return 300000
    return -1
    
final_household['hhincome'] = household.apply (lambda row: income (row),axis=1)
    
#hownrent (1 = own, 2 = rent, 3 = other)
def ownrent (row):
    if row['rent_own'] == 1 :
        return 1
    if row['rent_own'] == 2 :
        return 2
    return 3
    
final_household['hownrent'] = household.apply (lambda row: ownrent (row),axis=1)

#hrestype (1 = single family home, 2 = townhouse, 3 = apartment/condo, 4 = mobile home, 5 = dorm/institutional, 6 = other)
def restype (row):
    if row['res_type'] == 1 :
        return 1
    if row['res_type'] == 2 :
        return 2
    if row['res_type'] == 3 or row['res_type'] == 4 :
        return 3
    if row['res_type'] == 5 :
        return 4
    if row['res_type'] == 6 :
        return 5
    return 6
    
final_household['hrestype'] = household.apply (lambda row: restype (row),axis=1)

In [18]:
final_household

,hhno,hhsize,hhvehs,hhwkrs,hhftw,hhptw,hhret,hhoad,hhuni,hhhsc,hh515,hhcu5,hhincome,hownrent
0,17100005,2,2,1,0,0,1,1,0,0,0,0,87500,1
1,17100024,3,1,2,1,1,0,0,1,0,0,1,87500,1
2,17100052,1,0,1,0,0,0,1,0,0,0,0,17500,2
3,17100059,1,0,1,1,0,0,0,0,0,0,0,125000,2
4,17100060,1,1,0,0,0,1,0,0,0,0,0,17500,2
5,17100102,1,1,1,1,0,0,0,0,0,0,0,87500,2
6,17100108,2,1,2,2,0,0,0,0,0,0,0,225000,2
7,17100111,4,3,2,1,1,0,0,0,1,1,0,225000,1
8,17100137,1,1,1,0,1,0,0,0,0,0,0,17500,1
9,17100149,4,2,2,2,0,0,0,0,1,1,0,125000,1
10,17100179,3,2,2,2,0,0,0,0,1,0,0,175000,1
11,17100203,4,2,1,1,0,0,1,0,0,0,2,175000,2
12,17100208,3,2,2,0,1,0,1,0,0,1,0,62500,2
13,17100221,1,0,1,1,0,0,0,0,0,0,0,125000,2
14,17100231,2,2,0,0,0,0,2,0,0,0,0,-1,3
15,17100233,2,3,1,1,0,1,0,0,0,0,0,175000,1
16,17100238,2,2,0,0,0,2,0,0,0,0,0,125000,1
17,17100248,1,0,1,1,0,0,0,0,0,0,0,225000,1
18,17100255,1,1,1,1,0,0,0,0,0,0,0,125000,2
19,17100280,1,0,0,0,0,0,1,0,0,0,0,37500,2
20,17100291,2,1,1,1,0,0,1,0,0,0,0,30000,2
21,17100303,2,2,2,2,0,0,0,1,0,0,0,62500,2
22,17100326,2,1,2,2,0,0,0,0,0,0,0,125000,2
23,17100342,2,2,2,2,0,0,0,0,0,0,0,125000,2
24,17100372,2,1,1,1,0,0,1,0,0,0,0,300000,2
25,17100410,1,0,1,1,0,0,0,0,0,0,0,62500,2
26,17100411,1,0,1,1,0,0,0,1,0,0,0,62500,2
27,17100414,3,2,2,2,0,0,0,0,0,0,1,125000,1
28,17100418,2,2,1,1,0,0,1,0,0,0,0,125000,2
29,17100433,2,1,1,1,0,0,1,0,0,0,0,42500,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3281,17153587,2,2,2,2,0,0,0,0,0,0,0,125000,1
3282,17153608,1,0,0,0,0,1,0,0,0,0,0,5000,2
3283,17153614,2,2,2,2,0,0,0,0,0,0,0,87500,2
3284,17153632,2,2,0,0,0,2,0,0,0,0,0,62500,1
3285,17153681,2,2,2,2,0,0,0,0,0,0,0,125000,2
3286,17153688,1,2,1,1,0,0,0,0,0,0,0,87500,1
3287,17153690,2,4,1,0,1,1,0,0,0,0,0,150000,1
3288,17153702,2,2,0,0,0,2,0,0,0,0,0,87500,2
3289,17153716,1,0,1,1,0,0,0,0,0,0,0,42500,2
3290,17153725,1,1,1,1,0,0,0,0,0,0,0,175000,2
3291,17153730,4,1,2,2,0,0,0,0,0,0,2,87500,2
3292,17153749,4,2,2,2,0,0,0,0,0,2,0,225000,2
3293,17153751,1,1,1,1,0,0,0,0,0,0,0,175000,1
3294,17153788,1,1,1,1,0,0,0,0,0,0,0,175000,2
3295,17153829,2,1,2,1,1,0,0,0,0,0,0,62500,2
3296,17153832,1,0,1,1,0,0,0,0,0,0,0,225000,2
3297,17153834,4,1,1,1,0,0,1,0,0,0,2,87500,2
3298,17153852,1,0,1,0,0,0,1,0,0,0,0,62500,2
3299,17153860,1,1,0,0,0,0,1,1,0,0,0,5000,2
3300,17153865,2,2,1,1,0,0,0,0,0,0,1,42500,1
3301,17153913,1,1,1,1,0,0,0,0,0,0,0,62500,2
3302,17153932,1,1,1,1,0,0,0,0,0,0,0,87500,2
3303,17153959,2,4,0,0,0,2,0,0,0,0,0,125000,1
3304,17153978,4,3,3,2,1,0,0,1,0,1,0,125000,1
3305,17154020,2,0,2,1,0,0,1,0,0,0,0,42500,2
3306,17154101,2,2,2,1,0,0,1,0,0,0,0,125000,2
3307,17154108,1,0,1,1,0,0,0,1,0,0,0,37500,2
3308,17154129,2,1,2,0,0,0,2,0,0,0,0,87500,1
3309,17154152,3,2,2,1,0,0,1,0,0,1,0,175000,1
3310,17154199,2,1,2,2,0,0,0,0,0,0,0,30000,2

In [12]:
final_household.to_csv('testhousehold.csv')