In [ ]:
# This script is used to expand a survey sample by growing each record according to its expansion weight.

In [20]:
import pandas as pd
import numpy as np 
import h5py
import os

In [2]:
# Open 2006 survey data and export as space-delimted field

In [53]:
# Read in h5 data
survey06 = h5py.File(r'R:\SoundCast\estimation\2006\survey06_original.h5', 'r')
survey14expanded = h5py.File(r'R:\SoundCast\estimation\2014\expanded\hh_and_persons_14.h5', 'r')

In [58]:
# read in survey 14 samples
survey14 = pd.read_csv(r'R:\SoundCast\estimation\2014\hrecP2.dat', sep=' ')

In [36]:
def h5_to_df(h5_file):
    '''Convert daysim outputs and survey h5 tables into dataframes.
        Inputs are expected as tables with single-column sub-tables.'''
    dataframes = {}
    for data_table in h5_file.keys():
        dataframes[data_table] = pd.DataFrame()
        # Write each column to a dataframe
        for col in h5_file[data_table].keys():
            dataframes[data_table][col] = [i[0] for i in h5_file[data_table][col][:]]
    return dataframes

In [31]:
def h5_to_csv(h5_file, output_tag='', overwrite=True):
    '''Write daysim outputs and survey h5 tables onto disk.'''
    dataframes = h5_to_df(h5_file)
    for df in h5_file.keys():
        fname = df+output_tag+'.csv'
        if overwrite and os.path.isfile(fname):
            os.remove(fname)
            dataframes[df].to_csv(path_or_buf=fname)

expanded households from survey: 1479103.6793

household records in expansion: 1480090

samples factored up: 7    125.817
Name: hhexpfac, dtype: float64
expanded results: 126

126

In [22]:
h5_to_csv(survey14, '14')

In [26]:
# Read in the 2014 survey and compare to expanded
df14['Household'].sum()

hh515       1.355000e+03
hhcu5       5.900000e+02
hhexpfac    1.375592e+06
hhftw       4.281000e+03
hhhsc       3.220000e+02
hhincome    2.984495e+08
hhno        1.176722e+08
hhoad       1.465000e+03
hhparcel    2.533019e+09
hhptw       9.020000e+02
hhret       1.374000e+03
hhsize      1.051000e+04
hhtaz       8.587134e+06
hhuni       2.210000e+02
hhvehs      8.993000e+03
hhwkrs      8.565000e+03
hownrent    5.594000e+03
hrestype    7.080000e+03
samptype    5.752000e+03
dtype: float64

In [ ]:
# Read in the expanded survey h5 file

In [4]:
# Convert h5 data into a dictionary of dataframes, with each h5 table as a separate dataframe
dataframes = {}
for data_table in survey06.keys():
    dataframes[data_table] = pd.DataFrame()
    # Write each column to a dataframe
    for col in survey06[data_table].keys():
        dataframes[data_table][col] = [i[0] for i in survey06[data_table][col][:]]
    try:
        dataframes[data_table].to_csv(path_or_buf=data_table+'06.csv', sep=' ')
    except:
        print 'could not export output'

In [ ]:
dataframes['Person'].columns

In [ ]:
data_content = open('Household' + '06.csv', 'r')
lines = np.asarray(data_content.read().split('\n'))



#create a master array, which uses the first line as the form
df_array = np.asarray(lines[0].split(' ')) 
for j in range(1,len(lines)-1): 
    print data_table + " " + str(j)    # print sample row
    subarray = np.asarray(lines[j].split(' '))
    factor = abs(int(round(float(subarray[-1]),0))) 
    subarray = [subarray]*factor    #copy the sample 'factor' times
    df_array = np.vstack((df_array, subarray)) #merge the expanded sample into the master array

expanded_results[data_table] = df_array

In [ ]:
df_array = np.asarray(lines[0].split(' '))
np.where(df_array == np.fromregex('hh515'))
df_array[1]

In [ ]:
df_array

In [ ]:
col_num = [i for i, s in enumerate(df_array) if 'expfac' in s]
df_array[col_num]

In [ ]:
x = 5
test = []
for j in range(1,x-1):
    test.append(j)
len(test)

In [ ]:
float(str(df_array[col_num]))

In [92]:
abs(-99)

99

In [91]:
# Synthesize expanded dataset
mydir = r'R:\SoundCast\estimation\2014\hrecP2.dat'

# Open each data table and process its contents
data_content = open(mydir, 'r')
lines = np.asarray(data_content.read().split('\n'))

#create a master array, which uses the first line as the form
df_array = np.asarray(lines[0].split(' ')) 

# column number for expansion factor
col_num = [i for i, s in enumerate(df_array) if 'expfac' in s]

# for j in range(1,len(lines)-1):
for j in range(1,100):
    # start at 2 to skip the header row
    print j    # print sample row
    subarray = np.asarray(lines[j].split(' '))
    factor = abs(int(round(float(subarray[col_num][0]),0))) 
    subarray = [subarray]*factor    #copy the sample 'factor' times
    df_array = np.vstack((df_array, subarray)) #merge the expanded sample into the master array

output = pd.DataFrame(df_array[1:-1], columns=lines[0].split(' '))
output.to_csv('testoutput.csv')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [94]:
for i in xrange(10):
    if i == 4:
        continue
    print i

0
1
2
3
5
6
7
8
9

In [90]:
output

,hhno,hhsize,hhvehs,hhwkrs,hhftw,hhptw,hhret,hhoad,hhuni,hhhsc,hh515,hhcu5,hhincome,hownrent,hrestype,hhparcel,hhtaz,hhexpfac,samptype
0,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
1,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
2,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
3,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
4,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
5,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
6,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
7,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
8,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
9,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
10,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
11,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
12,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
13,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
14,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
15,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
16,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
17,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
18,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
19,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
20,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
21,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
22,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
23,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
24,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
25,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
26,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
27,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
28,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
29,14100001,1,1,1,1,0,0,0,0,0,0,0,87500,0,5,363934,402,45.5450,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23506,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23507,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23508,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23509,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23510,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23511,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23512,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23513,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23514,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23515,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23516,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23517,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23518,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23519,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23520,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23521,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23522,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23523,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23524,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23525,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23526,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23527,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23528,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23529,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23530,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23531,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23532,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23533,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23534,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0
23535,14100099,2,1,0,0,0,2,0,0,0,0,0,62500,0,5,394785,453,35.4880,0

In [ ]:
len(expanded_results['Household'])

In [ ]:
# Expand person records
person = open('D:/estimation/Household06.csv', 'r')
lines = np.asarray(person.read().split('\n'))

#create a master array, which uses the first line as the form
df_array = np.asarray(lines[0].split(' ')) 
for j in range(1,len(lines)-1): 
    print j
    subarray = np.asarray(lines[j].split(' '))
    factor = abs(int(round(float(subarray[-1]),0))) 
    #print factor
    subarray = [subarray]*factor #copy the sample 'factor' times
    df_array = np.vstack((df_array, subarray)) #merge the expanded sample into the master array
    #print len(df_array)
print len(df_array)

output = pd.DataFrame(df_array[1:-1], columns=lines[0].split(' '))

In [ ]:
#######################person###############################

#output.to_hdf('R:/SoundCast/estimation/2014/survey14_expanded.h5','precp2_expanded',append=True)

####################household######################################
person=open('R:/SoundCast/estimation/2014/hrecP2.dat', 'r')
lines = np.asarray(person.read().split('\n'))
df_array = np.asarray(lines[0].split(' '))
for j in range(1,len(lines)-1):
    print j
    subarray = np.asarray(lines[j].split(' '))
    factor = abs(int(round(float(subarray[-2]),0)))
    #print factor
    subarray = [subarray]*factor
    df_array = np.vstack((df_array, subarray))
    #print len(df_array)
print len(df_array)

output=pd.DataFrame(df_array[1:-1], columns=lines[0].split(' '))
#output.to_hdf('R:/SoundCast/estimation/2014/hrecp2_expanded.h5','hrecp2_expanded',append=True)

####################check data##############
store = pd.HDFStore('R:/SoundCast/estimation/2014/survey14_expanded.h5')
data1 = store['precp2_expanded']
data2 = store['hrecp2_expanded']

#####################reformat for DaySim#####################
#for each column in obove files, create tables and save them in h5 files. 
col_to_save = ['hhno']
data1[col_to_slct].to_hdf('R:/SoundCast/estimation/2014/test.h5', 'hhno', format='table', data_columns=['hhno'])

In [ ]:
person = pd.read_csv(r'R:\SoundCast\estimation\2014\expanded\precp2_expanded.csv', sep=',')
household = pd.read_csv(r'R:\SoundCast\estimation\2014\expanded\hrecp2_expanded.csv', sep=',')
household.head()

In [ ]:
f = h5py.File('R:/SoundCast/estimation/2014/expanded/HH_test.h5', 'r+')

In [ ]:
grp = f.create_group("Household")

In [ ]:
for column in household.columns: 
    dset2 = grp.create_dataset(column, data=list(household[column]))
    print dset2.name
f.close()

In [ ]:
f = h5py.File('R:/SoundCast/estimation/2014/expanded/HH_test.h5', 'r+')
anothergrp = f.create_group("Person")

In [ ]:
for column in person.columns: 
    dset3 = anothergrp.create_dataset(column, data=list(person[column]))
    print dset3.name
f.close()