In [1]:
import pandas as pd

In [26]:
df = pd.read_excel(r'L:\vision2050\soundcast\clutch\2040\outputs\transit\transit_summary.xlsx',
                  sheet_name='Light Rail')

In [27]:
df.head()

,Unnamed: 0,inode,initial_boardings,final_alightings,total_boardings,transfers,station,id,observed_boardings,observed_transfer_rate,transfer_rate
0,0,43078,2447.682526,2336.662872,5742.101482,3294.418957,Lynnwood P&R,43078,NaN,NaN,0.573731
1,1,48891,2334.833618,2193.943708,4591.143981,2256.310363,Mountlake Terrace P&R,48891,NaN,NaN,0.491448
2,2,53083,1962.126934,1985.368122,6503.919129,4541.792195,185th St,53083,NaN,NaN,0.698316
3,3,64343,5713.509430,5698.492065,9619.047259,3905.537829,Northgate TC,64343,NaN,NaN,0.406021
4,4,88671,1129.254785,1086.943062,2513.466946,1384.212160,Stadium,88671,982.61422,0.119,0.550718

In [28]:
intersect = pd.read_csv(r'T:/2019November/brice/faz_junctions_intersect2.txt')

In [29]:
df_merge = df.merge(intersect, left_on='inode', right_on='Scen_Node', how='left')

In [34]:
df = df_merge[['observed_boardings','station','inode','FAZ10']]
df = df[-df['FAZ10'].isnull()]

In [36]:
df.to_csv(r'N:\sensitivity_tests\light_rail_FAZ_observed.csv')

In [32]:
df_merge

,Unnamed: 0,inode,initial_boardings,final_alightings,total_boardings,transfers,station,id,observed_boardings,observed_transfer_rate,...,Scen_Node,IsZone,XCoord,YCoord,FID_faz2010_nowater,FAZ10,nFAZ10,LARGE_AREA,County,Acres
0,0,43078,2447.682526,2336.662872,5742.101482,3294.418957,Lynnwood P&R,43078,NaN,NaN,...,43078,0,1.281580e+06,300615.117647,152,7206,7206,SW Snohomish,Snohomish,2110.978127
1,1,48891,2334.833618,2193.943708,4591.143981,2256.310363,Mountlake Terrace P&R,48891,NaN,NaN,...,48891,0,1.276091e+06,290069.176471,150,7100,7100,SW Snohomish,Snohomish,2815.946298
2,2,53083,1962.126934,1985.368122,6503.919129,4541.792195,185th St,53083,NaN,NaN,...,53083,0,1.274012e+06,281977.882353,137,6420,6420,Shoreline,King,4674.558961
3,3,64343,5713.509430,5698.492065,9619.047259,3905.537829,Northgate TC,64343,NaN,NaN,...,64343,0,1.272207e+06,259463.117647,131,6225,6225,Seattle,King,1356.098184
4,4,88671,1129.254785,1086.943062,2513.466946,1384.212160,Stadium,88671,982.614220,0.119,...,88671,0,1.271811e+06,219417.235294,109,5825,5825,Seattle,King,2322.393378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,199069,1028.236877,1114.917686,1748.407076,720.170198,Richards Road,199069,NaN,NaN,...,199069,0,1.310743e+06,214737.529412,88,5010,5010,Eastside King,King,2895.062378
79,79,199115,23401.000000,24534.827271,24416.328701,1015.328701,Westlake,199115,5269.907366,0.364,...,199115,0,1.269663e+06,226737.764706,114,6010,6010,Seattle,King,488.244446
80,80,199116,11349.000000,11832.135559,15600.219595,4251.219595,University St,199116,2019.317326,0.200,...,199116,0,1.269764e+06,225398.529412,114,6010,6010,Seattle,King,488.244446
81,81,199118,6590.000000,7008.585449,7607.921844,1017.921844,Pioneer Square,199118,1554.303399,0.159,...,199118,0,1.270918e+06,223473.352941,114,6010,6010,Seattle,King,488.244446
82,82,199119,5917.379234,5849.124329,24366.045347,18448.666113,International District,199119,2300.278883,0.450,...,199119,0,1.271733e+06,222012.705882,109,5825,5825,Seattle,King,2322.393378